::-webkit-scrollbar {
    width: 12px;
}
  ::-webkit-scrollbar-button {
    display: none;
  }
  ::-webkit-scrollbar-track-piece {
    background: #333333;
    border-radius: none;
  }
  ::-webkit-scrollbar-thumb {
    border-radius:10px;
    background-color: #fff;
    border: 3px solid #000;
  }
  ::-webkit-scrollbar-track {
    box-shadow: transparent;
  }