@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    animation:pageload 1s ;
}
@keyframes pageload {
    from{filter: blur(20px);}
    to{filter: blur(0px);}
}
/* @media screen styles: */
@media screen and (max-width: 1000px){

}
@media screen and (max-width: 400px){
    .navlist a{
        font-size: 20px;
    }
}
#top{
    position: absolute;
    top: 0px;
}
/* navlist */
.navlist{
    z-index: 10;
    position:fixed;
    backdrop-filter:blur(25px);
    background: rgba(255,255,255,0.1);
    top: -100%;
    height: 80vh;
    width: 60vh;
    /* position: absolute; */
    bottom: 80px;
    border-radius:20px;
    border: 2px solid #000;
    width: 80%;
    transition:0.5s;
    text-align: center;
}
.navlist p{
    font-size: 40px;
    font-weight: bold;
}
.navlist a{
    text-decoration: none;
    font-size: 25px;
    line-height: 70px;
    border-radius:20px;
    color: #000;
    transition: 0.5s;
}
.navlist a:hover{
    color: #6e94d2;
    letter-spacing: 2px;
}
.navlist.active{
    top: 5%;
    display: block;
}
body.active{
    overflow: hidden;
}
/* navlistbtn */
.navlistbtn{
    z-index: 10;
    height: 50px;
    width: auto;
    position: fixed;
    bottom: 10px;
    background: #000;
    color: #fff;
    border-radius: 40px;
    font-size:20px;
    align-items: center;
    transition: 0.5s;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 50px 80px rgba(0, 0, 0, 0.5);
}
.navlistbtn i{
    position: relative;
    bottom: 3px;
    right: 5px;
}
.navlistbtn:hover{
    letter-spacing: 2px;
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
}
.ball{
    z-index: 0;
    filter:blur(10px);
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius:50%;
    background: linear-gradient(250deg, #FFEC00,#C400FF);
    animation: topcardball 2s infinite alternate;
    overflow: hidden;
}
@keyframes topcardball{
    0%{
        height: 200px;
        width: 200px;
    }
    100%{
        height: 280px;
        width: 280px;
        transform: rotate(360deg);
    }
}
.topcard{
    /* display: flex;
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius:20px;
    border: 2px solid rgba(255,255,255,0.25);
    backdrop-filter:blur(20px);
    background: rgba(255,255,255,0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.15);
    transform-style: preserve-3d;
    transform: perspective(1000px); */
    height: 300px;
    width: 300px;
    border-radius:20px;
    background:rgb(189, 184, 184);
    display: flex;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    box-shadow: 0 50px 80px rgba(0, 0, 0, 0.5);
}
.topcardcontent{
    width: 50vh;
    text-align: center;
    transform: translateZ(40px);
    font-size:25px;
    font-weight:bold;
}
/* .topcard:hover{
    height: 320px;
    width: 320px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.30);
} */
.topcardcontent{
    position: relative;
    top: 50%;
    text-align: center;
}
/* teacherlist */
.teacherlist{
    z-index: 5;
    border-radius: 20px;
    height: 95vh;
    width: 80%;
    border-radius:20px;
    border: 2px solid rgba(255,255,255,0.25);
    backdrop-filter:blur(20px);
    background: rgba(255,255,255,0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.15);
    position: absolute;
    bottom: -100vh;
}
.teacherlist p{
    text-align: center;
    font-size:30px;
    font-weight: bold;
    cursor: pointer;
}
.teacherlist p:hover{
    color: #0055E1;
}
.teacherlist .teacherlist li{
    font-size: 30px;
}
/* youtubevideo */
.youtubevideo{
    /* z-index: 5;
    border-radius: 20px;
    height: 95vh;
    width: 80%;
    border-radius:20px;
    border: 2px solid rgba(255,255,255,0.25);
    backdrop-filter:blur(20px);
    background: rgba(255,255,255,0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.15);
    position: absolute;
    bottom: -100vh; */
    position: absolute;
    background: #fff;
    border-radius:20px;
    bottom: -150%;
    z-index: 5;
    height: 40%;
    width: 80%;
    border-radius:20px;
    border: 2px solid rgba(255,255,255,0.25);
    backdrop-filter:blur(20px);
    background: rgba(255,255,255,0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.30);

}
#youtubeapivideo{
    position: relative;
    height: 70%;
    width: 90%;
}
#youtubeapivideo p{
    text-align: center;
    font-size:30px;
    font-weight: bold;
    cursor: pointer;
}
/* footer */
footer{
    height: 100px;
    position: absolute;
    bottom: -180vh;
    z-index: 9;
}
/* .footer{
    height:50px;
    width: 100%;
    background-color: #000;
    position: absolute;
    
} */